<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logos/plicon.png" type="images/x-icon" width="40" height="40">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>devHeads</title>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <style>
      * {
        margin: 0;
        border: 0;
        box-sizing: border-box;
      }
     
    </style>

    
</head>
<body style="background-color: white;">
    <header style="height: 10svh; width: 100vw; border-bottom: 2px solid purple; display: flex; align-items: center; justify-content: space-around;">
    

            <a href="/dev/<%= gameweek %>"><ion-icon name="arrow-round-back" style="font-weight: bold; color: purple; font-size: 2rem;"></ion-icon></a>

            <h1 style="margin:0 10px 10px 10px; font-weight: bold; font-family: 'Signika', sans-serif; font-size: 1.75rem; color: purple;">headBets</h1>
        
        
    </header>
    <section style="height: 4svh; width: 100vw; display: flex; align-items: center; justify-content: center;">
        <h2 style="font-size: 1.1rem; font-weight: bold; font-style: italic; color: purple; font-family: 'Signika', sans-serif;">GW<%= gameweek %></h2>
         <% if (locals.messages) { %>
              <h2 style="font-size: 1.1rem; margin-left: 20px; font-weight: bold; font-style: italic; color: red; font-family: 'Signika', sans-serif;"><%= messages %></h2>
        <% } %> 
    </section>

    <main style="width: 100vw;  display: flex; margin-inline: auto; background-color: aliceblue; flex-flow: column nowrap; align-items: center; scroll-snap-type: inline mandatory; scroll-padding-inline: 15px; overflow-x: hidden; overflow-y: scroll;">
         
        <% heads.map((bet) => { %>

         <% const winAmount = bet.amount * 2 %>

            <% if ( bet.points.host === 0 || bet.points.opponent === 0 ) { %>
                  
                    
            <form action="/dev/<%= gameweek %>/heads/update?_method=PATCH" method="post" style="position: relative; background-color: white; scroll-snap-align: start; display: flex; align-items: center; justify-content: space-between; width: 95%; height: 15%; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.29); border-radius: 0 20px 20px 0; margin-block: 10px;">
              <div class="competitors" style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; width: 35%;">
                 <h2 style="text-wrap: wrap; text-align: center; font-size: .85rem; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic; color: purple;">Host: <span style="color: green; font-size: 1rem;">--</span></h2>
                 <p>vs</p>
                 <h2 style="text-align: center; text-wrap: wrap; font-size: .85rem; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic; color: purple;">Opponent: <span style="color: green; font-size: 1rem;">--</span></h2>
  
              </div>
  
              <div class="bet-status" style=" width: 35%; display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center;">
                 <h2 style="margin-block: 5px; text-align: center; font-size: .75rem; font-family: 'Signika', sans-serif; color: red;">Entry: <%= bet.amount %></h2>
                 <h2 style="text-align: center; font-size: .85rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: blue;">---</h2>
                 <h2 style="margin-block: 5px; text-align: center; font-size: .85rem; font-family: 'Signika', sans-serif; color: limegreen;"><%= winAmount %></h2> 
                 
  
              </div>
  
              <input type="text" name="betid" value="<%= bet._id %>" style="display: none;">
  
                <button type="submit"  style="border-radius: inherit; background-color: red; width: 15%; height: 60px; outline: none; border: none; cursor: pointer; display: flex; justify-content: center; align-items: center;">
                  <p style="font-style: italic; font-weight: bold; font-family: 'Signika', sans-serif; color: white;">UPDATE</p>
              </button>  
        
          </form>  

             <% } else { %>
             
              <% if ( bet.betStatus.code === 1000  ) { %>

                                
            <section  style="position: relative; background-color: antiquewhite; scroll-snap-align: start; display: flex; align-items: center; justify-content: space-between; width: 95%; height: 15%; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.29); border-radius: 0 20px 20px 0; margin-block: 10px;">
              <div class="competitors" style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; width: 35%;">
                 <h2 style="text-wrap: wrap; text-align: center; font-size: .85rem; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic; color: purple;">Host: <span style="color: green; font-size: 1rem;"><%= bet.points.host %></span></h2>
                 <p>vs</p>
                 <h2 style="text-align: center; text-wrap: wrap; font-size: .85rem; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic; color: purple;">Opponent: <span style="color: green; font-size: 1rem;"><%= bet.points.opponent %></span></h2>
  
              </div>
  
              <div class="bet-status" style=" width: 35%; display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center;">
                 <h2 style="margin-block: 5px; text-align: center; font-size: .75rem; font-family: 'Signika', sans-serif; color: red;">Entry: <%= bet.amount %></h2>
                    
                    <% if ( bet.points.host < bet.points.opponent ) { %>
                          
                      <h2 style="text-align: center; font-size: .85rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: blue;">Opponent wins</h2>
                       
                      <% } else if ( bet.points.host > bet.points.opponent ) { %>
                        
                        <h2 style="text-align: center; font-size: .85rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: blue;">Host wins</h2>
  
                        <% } else { %>
                         
                          <h2 style="text-align: center; font-size: .85rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: goldenrod;">Draw</h2>

                         <% } %>

                  

                 <h2 style="margin-block: 5px; text-align: center; font-size: .85rem; font-family: 'Signika', sans-serif; color: limegreen;"><%= winAmount %></h2> 
                 
  
              </div>
  
  
               <button type="submit"  style="border-radius: inherit; background-color: limegreen; width: 15%; height: 60px; outline: none; border: none; cursor: pointer; display: flex; justify-content: center; align-items: center;">
                  <p style="font-style: italic; font-weight: bold; font-family: 'Signika', sans-serif; color: white;">Settled</p>
              </button>
   
            </section>

                <% } else { %>

                              
            <form action="/dev/<%= gameweek %>/heads/settle?_method=PATCH" method="post" style="position: relative; background-color: white; scroll-snap-align: start; display: flex; align-items: center; justify-content: space-between; width: 95%; height: 15%; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.29); border-radius: 0 20px 20px 0; margin-block: 10px;">
              <div class="competitors" style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; width: 35%;">
                 <h2 style="text-wrap: wrap; text-align: center; font-size: .85rem; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic; color: purple;">Host: <span style="color: green; font-size: 1rem;"><%= bet.points.host %></span></h2>
                 <p>vs</p>
                 <h2 style="text-align: center; text-wrap: wrap; font-size: .85rem; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic; color: purple;">Opponent: <span style="color: green; font-size: 1rem;"><%= bet.points.opponent %></span></h2>
  
              </div>
  
              <div class="bet-status" style=" width: 35%; display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center;">
                 <h2 style="margin-block: 5px; text-align: center; font-size: .75rem; font-family: 'Signika', sans-serif; color: red;">Entry: <%= bet.amount %></h2>
                    
                    <% if ( bet.points.host < bet.points.opponent ) { %>
                          
                      <h2 style="text-align: center; font-size: .85rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: blue;">Opponent wins</h2>
                       
                      <% } else if ( bet.points.host > bet.points.opponent ) { %>
                        
                        <h2 style="text-align: center; font-size: .85rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: blue;">Host wins</h2>
  
                        <% } else { %>
                         
                          <h2 style="text-align: center; font-size: .85rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: goldenrod;">Draw</h2>

                         <% } %>

              
                 <h2 style="margin-block: 5px; text-align: center; font-size: .85rem; font-family: 'Signika', sans-serif; color: limegreen;"><%= winAmount %></h2> 
                 
  
              </div>
  
              <input type="text" name="betid" value="<%= bet._id %>" style="display: none;">
  
               <button type="submit"  style="border-radius: inherit; background-color: blue; width: 15%; height: 60px; outline: none; border: none; cursor: pointer; display: flex; justify-content: center; align-items: center;">
                  <p style="font-style: italic; font-weight: bold; font-family: 'Signika', sans-serif; color: white;">Settle</p>
              </button>
   
          </form>

                 <% } %>
         

              <% } %>
           
    
           <% }) %> 

       

    </main>  

            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
           
    </body>
    </html>

