<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logos/plicon.png" type="images/x-icon" width="40" height="40">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>devParty</title>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <style>
        * {
            margin: 0;
            border: 0;
            box-sizing: border-box;
        }
        
        .cards {
            height: 30px;
            width: 93%;
            border-radius: 5px 40px 40px 5px;
            cursor: pointer;
            text-decoration: none;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.29);
            margin: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            scroll-snap-align: start;
        }
    
    </style>    
</head>
<body style="height: 100svh; position: relative; background-color: white;">
       
           

    <header style="height: 7svh; width: 100vw; display: flex; align-items: center; justify-content: space-evenly;">
        <div style="display: flex; align-items: center; justify-content: center;">
            <div><a href="/dev/<%= event %>/party"><ion-icon name="arrow-round-back" style="font-weight: bold; color: purple; font-size: 1.5rem;"></ion-icon></a></div>
            <h1 style="margin:0 10px 10px 10px; font-weight: bold; font-family: 'Signika', sans-serif; font-size: 1.5rem; color: purple;">Back</h1>
        </div>

        <div class="balance" style="height: 80%; padding-inline: 5px;  margin-right: 15px; display: flex; align-items: center; justify-content: center; border-radius: 10px;">
               <h1 style="font-size: 1.6rem; font-family: 'Signika', sans-serif; font-style: italic; font-weight: bold; text-align: center; color: blue;">GW<%= event %></h1>            
        </div>
            
        
        
    </header>

         <div class="flash" style="padding: 5px; display: flex; justify-content: center; align-items: center; height: 3svh; width: 100vw;">
                  
            <% if (locals.messages) { %>
                <h2 style="font-size: 1.1rem; margin-left: 20px; font-weight: bold; font-style: italic; color: red; font-family: 'Signika', sans-serif;"><%= messages %></h2>
            <% } %> 
         
         </div>         
      



    <main style="width: 100vw; height: 90svh; background-color: #fff;">
        
       

        <section class="managers" style="width: 95vw; height: 60%; display: flex; margin-inline: auto; border-radius: 20px; background-color: rgba(105, 194, 230, 0.755); flex-flow: column nowrap; scroll-snap-type: inline mandatory; scroll-padding-inline: 15px; overflow-x: hidden; overflow-y: scroll;" >
             
            

            <% players.map((player) => { %>

                <% if ( player.teamId == host.teamId ) { %>
                         
                    <a href="" class="cards" style="background-color: rgba(255, 255, 0);">
                        <div class="entry" style="height: 100%;  display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; padding: 20px;">
                           <h2 style="font-size: .85rem; font-weight: bold; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style: italic; color: purple;"><%= player.teamName %></h2>
                        </div>
                        <div class="id" style="margin-right: 10px; width: 20%; height: 100%; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; background-color: transparent;">
                            <p style="font-style: italic; font-weight: bold; font-size: .95rem; color: blue; display: block;">Host</p>
                        </div>
                        <div class="points" style=" height: 100%; margin-left: 5px; background-color: transparent; display: flex; justify-content: center; align-items: center; ">
                            
                            <h2 style="font-weight: bold; font-size: .85rem; margin-right: 5px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: green;"><%= player.points %></h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: limegreen;transform: msFilter"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg>
                         </div>       
                    </a>   

                  <% } else { %>
                       
                                        
            <a href="" class="cards">
                <div class="entry" style="height: 100%;  display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; padding: 20px;">
                    <h2 style="font-size: .85rem; font-weight: bold; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style: italic; color: limegreen;"><%= player.teamName %></h2>
                </div>
                <div class="id" style="margin-right: 10px; width: 20%; height: 100%; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; background-color: transparent;">
                    <p style="font-size: .7rem; color: red; display: block;"><%= player.teamId %></p>
                </div>
                <div class="points" style=" height: 100%; margin-left: 5px; background-color: transparent; display: flex; justify-content: center; align-items: center; ">
                    
                    <h2 style="font-weight: bold; font-size: .85rem; margin-right: 5px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"><%= player.points %></h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: limegreen;transform: msFilter"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg>
                </div>       
            </a>

                      <% } %>

              <% }) %>
                                      
            
         
        </section>

        <section class="winners" style="height: 12%; width: 100vw; background-color: white; display: flex; align-items: center; justify-content: space-evenly;">

             <div class="first" style="width: fit-content; display: flex; flex-flow: column nowrap; align-items: center; justify-content: center;">

                <h2 style="font-size: 1rem; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic; color: blue;"><%= firstObject.teamName %></h2>
                <h3 id="first" style="margin-left: 10px; font-style: italic; color: limegreen;"> <span style="color: black; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic;">1st: Ksh</span> <%= winners[0] %></h3>

             </div>

             <div class="second" style="width: fit-content; display: flex; flex-flow: column nowrap; align-items: center; justify-content: center;">

                <h2 style="font-size: 1rem; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic; color: blue;"><%= secondObject.teamName %></h2>
                <h3 id="second" style="margin-left: 10px; font-style: italic; color: limegreen;"> <span style="color: blueviolet; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic;">2nd: Ksh</span> <%= winners[1] %></h3>

             </div>

             <div class="third" style="width: fit-content; display: flex; flex-flow: column nowrap; align-items: center; justify-content: center;">

                <h2 style="font-size: 1rem; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic; color: blue;"><%= thirdObject.teamName %></h2>
                <h3 id="third" style="margin-left: 10px; font-style: italic; color: limegreen;"> <span style="color: goldenrod; font-weight: bold; font-family: 'Signika', sans-serif; font-style: italic;">3rd: Ksh</span> <%= winners[2] %></h3>

             </div>
       
           
    
        </section>

      

        <section class="amount" style="position: relative; width: 100vw; height: 7%; background-color: aliceblue; display: flex; justify-content: center; align-items: center;">
            <div class="entry" style="height: 100%; width: 50%; display: flex; align-items: center; justify-content: center; flex-flow: column nowrap;">
                 <p id="amount" style="color: red; margin: 0; font-size: 1.3rem; font-style: italic; font-weight: bold;">KSH <%= Party.amount %></p>
                 <p style="margin: 5px; font-style: italic; font-size: .95rem; color: blue; ">Entry fee</p>
            </div>
            <div class="winner" style="height: 100%; width: 50%; display: flex; justify-content: center; align-items: center; flex-flow: column nowrap;">
                <p style="color: limegreen; font-style: italic; margin: 0; font-weight: bold; font-size: 1.1rem;">Top 3 players</p>
                <p style="margin: 5px; font-style: italic; font-size: .95rem; color: blue;">Win</p>
            </div>
            
             <div class="arrow" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                 <svg xmlns="http://www.w3.org/2000/svg" width="45" height="24" viewBox="0 0 24 24" style="fill: purple;transform: msFilter"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
             </div>
            
         </section>

       
                
           <% if ( Party.winners.first.amount === 0  ) { %>
                    
            <form action="/dev/<%= event %>/party/<%= Party._id %>/update?_method=PATCH" method="post" style="width: 100vw; height: 12%; margin-bottom: 5px; display: flex; align-items: center; justify-content: center;">
                     
                <input type="number" name="first" value="<%= winners[0] %>" style="display: none;">
                <input type="number" name="second" value="<%= winners[1] %>" style="display: none;">
                <input type="number" name="third" value="<%= winners[2] %>" style="display: none;">
                <input type="text" name="firstteam" value="<%= firstObject.teamName %>" style="display: none;">
                <input type="text" name="secondteam" value="<%= secondObject.teamName %>" style="display: none;">
                <input type="text" name="thirdteam" value="<%= thirdObject.teamName %>" style="display: none;">
                <input type="text" name="firstId" value="<%= firstObject.teamId %>" style="display: none;">
                <input type="text" name="secondId" value="<%= secondObject.teamId %>" style="display: none;">
                <input type="text" name="thirdId" value="<%= thirdObject.teamId %>" style="display: none;">

                <button type="submit" id="join" style="height: 80%; width: 70%; cursor: pointer; font-style: italic; font-weight: bold; font-family: 'Signika', sans-serif; font-size: 1.4rem; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.29); outline: none; border-radius: 20px; color: white; background-color: orangered;">
                    Update
                </button>

              
            </form>       
             
               <% } else { %>

                  <% if ( Party.betStatus.code === 1000 ) { %>
                   
                    <section style="width: 100vw; height: 12%; margin-bottom: 5px; display: flex; align-items: center; justify-content: center;">
                         
                        <button type="submit" id="join" style="height: 80%; width: 70%; cursor: pointer; font-style: italic; font-weight: bold; font-family: 'Signika', sans-serif; font-size: 1.4rem; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.29); outline: none; border-radius: 20px; color: white; background-color: limegreen;">
                            settled
                        </button>
                          
                    </section>

                   <% } else { %>

                    <form action="/dev/<%= event %>/party/settle?_method=PATCH" method="post" style="width: 100vw; height: 12%; margin-bottom: 5px; display: flex; align-items: center; justify-content: center;">
                     
                        <input type="text" name="partyid" value="<%= Party._id %>" style="display: none;">
                    
    
                        <button type="submit" id="join" style="height: 80%; width: 70%; cursor: pointer; font-style: italic; font-weight: bold; font-family: 'Signika', sans-serif; font-size: 1.4rem; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.29); outline: none; border-radius: 20px; color: white; background-color: blue;">
                            Settle
                        </button>
    
                      
                    </form>

                     <% } %>

                 <% } %>
        
               
        
              <section class="status" style="width: 100vw; height: 8%; display: flex; justify-content: center; align-items: center;">
                <h3 style="margin-right: 10px; font-style: italic; font-weight: bold; color: blue;">Bet Status:</h3>
                <h3 style="font-style: italic; font-family: 'Signika', sans-serif; font-weight: bold; color: red;">"<%= Party.betStatus.message %>"</h3>       
          
              </section>

    </main>   

    
    
</body>
    

</html>