<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="logos/plicon.png" type="images/x-icon" width="400" height="400">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>XtreamLeague</title>
    <style>
         .team-info a:active {
            transform: scale(0.9);
         }
         ::placeholder {
            color: blue;
            font-weight: bold;
            font-family: cursive;
            font-style: italic;
            font-size: 1.15rem;
        }
    </style>
</head>

<body style="position: relative; height: 100svh; width: 100vw; background-color: goldenrod; ">

    <!-- JOIN H-2-H BOX POSITION ABSOLUTE -->

    <section class="register" style="display: none; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 5; border-radius: 10px; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.29); height: 20vh; width: 95vw; background-image: linear-gradient(45deg, goldenrod, gold, greenyellow, yellow, whitesmoke, white, white, whitesmoke, yellow, greenyellow, gold, goldenrod); margin-inline: auto; ">
        <div class="reg" style="cursor: pointer; position: relative; margin-top: 5px; display: flex; justify-content: center; align-items: center; height: 20%;">
            <div id="close-head" style="position: absolute; right: 0; top: 0; height: 100%; display: flex; justify-content: center; align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24" style="fill: red;transform: scaleY(-1);"><path d="m8.5 18 3.5 4 3.5-4H19c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2H5c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h3.5zM7.293 6.707l1.414-1.414L12 8.586l3.293-3.293 1.414 1.414L13.414 10l3.293 3.293-1.414 1.414L12 11.414l-3.293 3.293-1.414-1.414L10.586 10 7.293 6.707z"></path></svg>
            </div>
            <h1 style="color: green; font-size: 1.5rem; font-weight: bold; font-family: cursive;">Join Bet</h1>
        </div>
        <form action="/join-bet" method="post" style="display: flex; align-items: center; justify-content: center; height: 60%; background-color: transparent;">
                <div class="input-box" style="background-color: transparent; height: 50%; width: 60%; display: flex; justify-content: center; align-items: center;">
                    <input type="text" name="id" placeholder="Enter invite code..." style="padding: 20px; border: 2px solid purple; border-radius: 20px 0 0 20px; height: 100%; width: 90%; font-family: cursive; font-size: 1.2rem; color: purple; font-weight: bold;">
                </div>
                <button type="submit" style="background-color: limegreen; color: white; font-style: italic; font-size: .9rem; font-weight: bold; height: 50%; width: 15%; border-radius: 0 20px 20px 0;" >Send</button>
        </form>
        
    </section>

    <!-- JOIN PARTY BOX POSITION ABSOLUTE -->

    <section id="party" style="display: none; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 5; border-radius: 10px; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.29); height: 20vh; width: 95vw; background-image: linear-gradient(45deg, purple, blue, skyblue, aliceblue, whitesmoke, white, white, whitesmoke, aliceblue, skyblue, blue, purple); margin-inline: auto; ">
        <div class="reg" style="cursor: pointer; position: relative; margin-top: 5px; display: flex; justify-content: center; align-items: center; height: 20%;">
            <div id="close-party" style="position: absolute; right: 0; top: 0; height: 100%; display: flex; justify-content: center; align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24" style="fill: red;transform: scaleY(-1);"><path d="m8.5 18 3.5 4 3.5-4H19c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2H5c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h3.5zM7.293 6.707l1.414-1.414L12 8.586l3.293-3.293 1.414 1.414L13.414 10l3.293 3.293-1.414 1.414L12 11.414l-3.293 3.293-1.414-1.414L10.586 10 7.293 6.707z"></path></svg>
            </div>
            <h1 style="color: purple; font-size: 1.5rem; font-weight: bold; font-family: cursive;">Join Party</h1>
        </div>
        <form action="/join-party" method="post" style="display: flex; align-items: center; justify-content: center; height: 60%; background-color: transparent;">
                <div class="input-box" style="background-color: transparent; height: 50%; width: 60%; display: flex; justify-content: center; align-items: center;">
                    <input type="text" name="id" placeholder="Enter invite code..." style="padding: 20px; border: 2px solid purple; border-radius: 20px 0 0 20px; height: 100%; width: 90%; font-family: cursive; font-size: 1.2rem; color: purple; font-weight: bold;">
                </div>
                <button type="submit" style="background-color: blue; color: white; font-style: italic; font-size: .9rem; font-weight: bold; height: 50%; width: 15%; border-radius: 0 20px 20px 0;" >Send</button>
        </form>
        
    </section>



    <header style="position: relative; height: 10vh; width: 100vw; display: flex; align-items: center; justify-content: space-between;">
        <section style="display: flex; align-items: center; justify-content: center;">
            <span><img src="logos/plicon.png" alt="XtreamLeague" width="50" height="50"></span>
            <h1 style="font-weight: 900; font-size: 1.2rem; color: rgb(67, 5, 67); font-family: cursive;">Fantasy</h1>
        </section>
        <section style="display: flex; align-items: center; justify-content: space-between;">
            <span style="margin-right: 20px; font-weight: bold; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(67, 5, 67); font-size: 1.1rem;"><%= user.userName %></span>
            <button id="menu-btn" style="cursor: pointer; background-color: transparent; border: none; outline: none; width: 48px; height: 48px; display: flex; justify-content: center; align-items: center; position: relative;">
                <div class="hambugger"></div>    
            </button>
        </section>
        <nav class="navbar">
           <ul>
              <li><a href="/deposit">Deposit</a></li>
              <li><a href="/withdraw">Withdraw</a></li>
              <li><a href="/transactions">Transactions</a></li>
              <li id="bottom-li" >
                
                <a href="/auth/logout" style="display: flex; align-items: center; justify-content: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" style="fill: red;transform: msFilter"><path d="M12 21c4.411 0 8-3.589 8-8 0-3.35-2.072-6.221-5-7.411v2.223A6 6 0 0 1 18 13c0 3.309-2.691 6-6 6s-6-2.691-6-6a5.999 5.999 0 0 1 3-5.188V5.589C6.072 6.779 4 9.65 4 13c0 4.411 3.589 8 8 8z"></path><path d="M11 2h2v10h-2z"></path></svg>
                    Logout
                </a>
              </li>
           </ul>
        </nav>
       
        <% if (locals.messages) { %>
          <p style="color: red; background-color: #fff; text-align: center; border-radius: 4px; font-size: 1.2rem; font-style: italic; width: 80%; top: 100%; left: 50%; transform: translate(-50%, -50%);
           font-weight: bold; position: absolute;"><%= messages %></p>
          <% } %>
        
    </header>
    <main style="height: 82.5vh; width: 100vw; background-color: transparent;">
                       
                       <!-- CHECKING IF REGISTERED  -->

         <section class="accnt-wrapper" style="padding-inline: 20px; width: 100vw; height: 15%; display: flex; justify-content: flex-start; align-items: center; background-color: transparent;">
            <div class="balance" style="width: 45%; height: 50%; display: flex; align-items: center; justify-content: space-evenly; background-color: rgb(67, 5, 67); border-radius: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: gold;transform: msFilter"><path d="M12 15c-1.84 0-2-.86-2-1H8c0 .92.66 2.55 3 2.92V18h2v-1.08c2-.34 3-1.63 3-2.92 0-1.12-.52-3-4-3-2 0-2-.63-2-1s.7-1 2-1 1.39.64 1.4 1h2A3 3 0 0 0 13 7.12V6h-2v1.09C9 7.42 8 8.71 8 10c0 1.12.52 3 4 3 2 0 2 .68 2 1s-.62 1-2 1z"></path><path d="M5 2H2v2h2v17a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4h2V2H5zm13 18H6V4h12z"></path></svg>
                <h2 style="color: white; margin-inline: 2px;  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; text-wrap: nowrap;">KSH <%= user.totalBalance %></h2>
            </div>
            <div class="deposit" style="display: flex; align-items: center; justify-content: center; height: 50%; width: 15%; margin-inline: 10px; border-radius: 10px; background-color: rgb(67, 5, 67);">
                <a href="/deposit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg></a>
            </div>
        </section>
        
         <% if (user.teamId == 'none') { %>
                  
            <section class="team-info" style="width: 100vw; height: 15%; background-color: transparent; display: flex; align-items: center; justify-content: center; ">
        
                                         <!-- BEFORE REGISTRATION  -->
                     <a href="/search" class="register" style="text-decoration: none; display: flex; justify-content: center; align-items: center; height: 60%; width: 70%; border-radius: 20px; background-color: purple;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>
                        <h1 style="font-family: cursive; font-size: 1.2rem; color: white; margin-left: 5px; font-size: 1.2rem;" >Register Fpl Team</h1>
                     </a>
 

            </section>
             
            <% } else { %>
                   
                <section class="team-info" style="width: 100vw; height: 15%; background-color: transparent; display: flex; align-items: center; justify-content: center; ">
              
                          <!-- After Registration  -->

                    <div class="team-info" style="display: flex; justify-content: space-between; height: 65%; width: 96%; border-radius: 15px; background-color: whitesmoke; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.303), 0 6px 12px 0 rgba(0, 0, 0, 0.292);" >
               
                        <div class="team-info" style="padding: 10px;  display: flex; flex-flow: column nowrap; justify-content: center; align-items: flex-start; width: 50%; height: 100%;">
                        
                           <h3 style="padding-right: 10px; text-wrap: nowrap; font-size: 1rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(67, 5, 67); font-weight: bold;"><%= user.teamName %></h3>
                    
                           <p style="font-weight: bold; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style: italic; color: limegreen; font-size: .8rem;" ><%= user.managerName %></p>
                           
                        </div>
                        <div class="points-wrapper" style="height: 100%; width: 20%; background-color: transparent; display: flex; justify-content: flex-end; align-items: center;">
                          
                            
                           <img src="/logos/<%= user.favTeam %>.png" alt="PL" style="margin-right: 5px;" width="40" height="40">
                    
                        </div>      
                    </div> 
                    
                </section>

              <% } %>
       
     
    
        
        <section class="bets" style="background-color: transparent; display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-around; width: 100vw; height: 55%;">
            
            <div class="head" style="display: block; width: 95%; height: 45%; border-radius: 25px; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.303), 0 6px 12px 0 rgba(0, 0, 0, 0.292); background-color: gold;">
                <div class="details" style="height: 60%; width: 100%; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; border-radius: 25px 25px 0 0;">
                     <h1 style="margin-bottom: 5px; font-size: 1.4rem; color: purple; font-weight: bold; font-family: cursive; font-style: italic;" >Head to Head</h1>
                     <p style="text-align: center; text-wrap: wrap; font-style: italic; font-size: .85rem; font-family: cursive; color: green; font-weight: bold;">Place Head to Head Bets with other FPL managers</p>
                     <p style="text-align: center; text-wrap: wrap; font-weight: bold; font-size: .83rem; font-family: cursive; color: whitesmoke;">Each Gameweek has a deadline to place bets</p>
                     <div class="icons" style="display: flex; justify-content: center; align-items: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: blue;transform: msFilter"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                        <p style="color: rgb(67, 5, 67); font-size: 1.15rem;" >vs</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: blue;transform: msFilter"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                     </div>
                </div>
                <div class="buttons" style="height: 40%; width: 100%; background-color: transparent; border-radius: 0 0 25px 25px; display: flex; justify-content: space-evenly; align-items: center;">
                    <a href="/bet-head" style="text-decoration: none; height: 60%; width: 40%; border-radius: 10px; display: flex; justify-content: center; align-items: center; background-color: purple;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>
                        <h1 style="text-wrap: nowrap; font-family: cursive; font-size: 1rem; color: white; margin-left: 2px;">Create Bet</h1>
                    </a>
                    <button class="join-head" style="height: 60%; width: 40%; background-color: purple; cursor: pointer; display: flex; align-items: center; justify-content: center; border-radius: 10px; outline: none; border: none;">
                          <h1 style="font-family: cursive; font-size: 1rem; color: white;">Join invite</h1>
                    </button>
                </div>
            </div>

            <div class="party" style="display: block; width: 95%; height: 45%; border-radius: 25px; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.303), 0 6px 12px 0 rgba(0, 0, 0, 0.292); background-color: gold;">
                
                <div class="details" style="padding-top: 10px; height: 60%; width: 100%; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; border-radius: 25px 25px 0 0;">
                    <h1 style="margin-bottom: 5px; font-size: 1.4rem; color: purple; font-weight: bold; font-family: cursive; font-style: italic;" >Party</h1>
                    <p style="text-align: center; text-wrap: wrap; font-style: italic; font-size: .85rem; font-family: cursive; color: green; font-weight: bold;">Place group Bets for a race to top 2 fpl managers</p>
                    <p style="text-align: center; text-wrap: wrap; font-weight: bold; font-size: .83rem; font-family: cursive; color: whitesmoke;">Each Gameweek has a deadline to place bets</p>
                    <div class="icons" style="display: flex; justify-content: center; align-items: center;">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: blue;transform: msFilter"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>
                       <p style="color: rgb(67, 5, 67); font-size: 1.15rem;" >vs</p>
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: blue;transform: msFilter"><path d="M9.5 12c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm1.5 1H8c-3.309 0-6 2.691-6 6v1h15v-1c0-3.309-2.691-6-6-6z"></path><path d="M16.604 11.048a5.67 5.67 0 0 0 .751-3.44c-.179-1.784-1.175-3.361-2.803-4.44l-1.105 1.666c1.119.742 1.8 1.799 1.918 2.974a3.693 3.693 0 0 1-1.072 2.986l-1.192 1.192 1.618.475C18.951 13.701 19 17.957 19 18h2c0-1.789-.956-5.285-4.396-6.952z"></path></svg>
                    </div>
               </div>
               
               <div class="buttons" style="height: 40%; width: 100%; background-color: transparent; border-radius: 0 0 25px 25px; display: flex; justify-content: space-evenly; align-items: center;">
                   <a href="/bet-party" style="text-decoration: none; height: 60%; width: 40%; border-radius: 10px; display: flex; justify-content: center; align-items: center; background-color: purple;">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>
                       <h1 style="text-wrap: nowrap; font-family: cursive; font-size: 1rem; color: white; margin-left: 2px;">Create Party</h1>
                   </a>
                   <button class="join-party" style="height: 60%; width: 40%; background-color: purple; cursor: pointer; display: flex; align-items: center; justify-content: center; border-radius: 10px; outline: none; border: none;">
                         <h1 style="font-family: cursive; font-size: 1rem; color: white;">Join Party</h1>
                   </button>
               </div>
            </div>
        </section>
        
        <section class="links" style="width: 100vw; height: 15%; display: flex; align-items: center; justify-content: space-evenly;">
              
              <a href="/myteam" class="my-teams" style="height: 80%; width: 15%; text-decoration: none; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;">
                 <img src="logos/uefaicon.png" alt="" width="32" height="32">
                 <h3 style="color: rgb(67, 5, 67); font-size: .85rem; font-style: italic; font-family: cursive; margin-top: 3px; font-weight: bold;">MyTeams</h3>
              </a>

              <a href="/bets" class="all-bets" style="height: 70%; width: 15%; position: relative; text-decoration: none; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;">
                <div class="count" style="position: absolute; top: 2px; right: 2px; z-index: 2; height: 22px; width: 22px; display: flex; align-items: center; justify-content: center; border-radius: 50%; background-color: red; text-align: center;">
                    <p style="font-weight: bold; color: white; font-style: italic;" ><%= head %></p>
                 </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" style="fill: rgba(67, 5, 67);transform: msFilter"><path d="M8 13v4H6v2h3v2h2v-2h2v2h2v-2.051c1.968-.249 3.5-1.915 3.5-3.949 0-1.32-.65-2.484-1.64-3.213A3.982 3.982 0 0 0 18 9c0-1.858-1.279-3.411-3-3.858V3h-2v2h-2V3H9v2H6v2h2v6zm6.5 4H10v-4h4.5c1.103 0 2 .897 2 2s-.897 2-2 2zM10 7h4c1.103 0 2 .897 2 2s-.897 2-2 2h-4V7z"></path></svg>
                 <h3 style="color: rgb(67, 5, 67); font-size: .85rem; font-style: italic; margin-top: 3px; font-family: cursive; font-weight: bold;">H-2-H</h3>
              </a>

              <a href="/parties" class="Rankings" style="height: 70%; width: 15%; position: relative;  text-decoration: none; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;">
                <div class="count" style="position: absolute; top: 2px; right: 2px; z-index: 2; height: 22px; width: 22px; display: flex; align-items: center; justify-content: center; border-radius: 50%; background-color: blue; text-align: center;">
                    <p style="font-weight: bold; color: white; font-style: italic;" ><%= party %></p>
                 </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" style="fill: rgba(67, 5, 67);transform: msFilter"><path d="M2 2h2v20H2z"></path><rect x="6" y="13" width="16" height="6" rx="1"></rect><rect x="6" y="5" width="12" height="6" rx="1"></rect></svg>
                <h3 style="color: rgb(67, 5, 67); font-size: .85rem; font-style: italic; font-family: cursive; margin-top: 3px; font-weight: bold;">Party</h3>
              </a>

              <a href="/topdollar" class="top-earners" style="height: 80%; width: 15%; text-decoration: none; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" style="fill: rgba(67, 5, 67);transform: msFilter"><path d="M15.999 8.5h2c0-2.837-2.755-4.131-5-4.429V2h-2v2.071c-2.245.298-5 1.592-5 4.429 0 2.706 2.666 4.113 5 4.43v4.97c-1.448-.251-3-1.024-3-2.4h-2c0 2.589 2.425 4.119 5 4.436V22h2v-2.07c2.245-.298 5-1.593 5-4.43s-2.755-4.131-5-4.429V6.1c1.33.239 3 .941 3 2.4zm-8 0c0-1.459 1.67-2.161 3-2.4v4.799c-1.371-.253-3-1.002-3-2.399zm8 7c0 1.459-1.67 2.161-3 2.4v-4.8c1.33.239 3 .941 3 2.4z"></path></svg>
                <h3 style="color: rgb(67, 5, 67); font-size: .85rem; font-style: italic; font-family: cursive; margin-top: 3px; font-weight: bold;">TopEarners</h3>
              </a>

        </section>

    </main>



    <footer style="position: fixed; padding-top: 10px; bottom: 0; height: 6vh; width: 100vw; border-top: 2px solid purple; margin-block: .75rem; background-color: transparent; display: flex; align-items: center; justify-content: space-evenly;">
        <div style="display: flex; align-items: center; justify-content: center; font-weight: bold; ">
            <h1 style="font-weight: 900; font-size: .9rem; color: purple; font-family: cursive;">Xtream</h1>
            <span><img src="logos/plicon.png" alt="" width="30" height="30"></span>
            <h1 style="font-weight: 900; font-size: .9rem; color: purple; font-family: cursive;">League</h1>
        </div>
        <p style="font-size: 1rem; color: purple; font-weight: bold;">&copy; Est 2023 </p>

    </footer>

    <script src="main.js"></script>
</body>
</html>