<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logos/plicon.png" type="images/x-icon" width="40" height="40">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Withdraw</title>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        ::-webkit-scrollbar {
            display: none;
        }
        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90%;
            width: 150px;
            margin-inline: 5px;
            padding: 20px;
            border: 3px solid purple;
            border-radius: 25px;
            background-color: white;
            color: goldenrod;
            font-size: 1rem;
            font-weight: bold;
            scroll-snap-align: start;
        }
         .links {
            text-decoration: none;
            color: purple;
        }
        
        .links.open {
            color: goldenrod
        }
        
        .selections {
            height: 90%;
            width: 15%;
            background-color: transparent;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            
        }
    </style>
</head>
<body style="background-color: goldenrod; min-height: 100svh;">
    <header style="height: 10vh; width: 100vw; display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center; justify-content: center;">
            <div><a href="/main"><ion-icon name="arrow-round-back" style="font-weight: bold; color: purple; font-size: 2rem;"></ion-icon></a></div>
            <h1 style="margin:0 10px 5px 10px; font-weight: bold; font-family: cursive; font-size: 1.75rem; color: purple;">Picks</h1>
        </div>
        <h1 style="font-style: italic; margin-right: 10px; color: blue; font-weight: bold; font-size: 1.25rem; font-family: cursive;"><%= user.teamName %></h1>
        
    </header>
    <section id="gw-wrapper" style="margin-bottom: 0.5vh; width: 100vw; background-color: goldenrod; display: flex; align-items: center; scroll-snap-type: inline mandatory; scroll-padding-inline: 10px; overflow-y: hidden; overflow-x: scroll;">
              <!-- MAP ALL GAMEWEEK BUTTONS  -->
              
        <% array.map((gameweek) => { %>
            <div id="<%= gameweek %>" class="buttons"><a class="links" href="/myteam/<%= gameweek %>">GW<%= gameweek %></a></div>            
            <%   })  %>
      
    </section>
    
      
    <section style="position: relative; width: 100vw; height: 72.5vh; margin-bottom: 10vh; background:url('logos/pitch.png'); background-size: cover; background-repeat: no-repeat; background-position: center; backdrop-filter: blur(10px);" >
          
         <div style="position: absolute; top: 8%; left: 10%;  height: 50px; width: 80px; border: 2px solid lime; background-color: grey; color: lime; display: flex; align-items: center; justify-content: center; border-radius: 50%;">
            <h1 style="font-size: 1rem; font-weight: cursive;">GW<%= GW %></h1>
         </div>

         <section id="keepers" style="display: flex; align-items: center; justify-content: space-around; height: 18.75%; width: 100vw; background-color: transparent;">
       
            <% if (goalie !== 'null') { %>

            
             <article class="selections">
                <img src="jerseys/<%= goalie.team_code %>.png" alt="GK" width="50" height="50">
                <div class="player-details " style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; margin-top: 5px; background-color: transparent;">
                    <h3 style="text-align: center; color: white;font-size: .65rem; font-family: cursive; text-transform: uppercase;"><%= goalie.first_name %></h3>
                    <h4 style="text-align: center; color: white; font-family: cursive; font-weight: bold; font-size: .65rem; text-transform: uppercase;"><%= goalie.second_name %></h4>
                </div>
             </article>

            <% } %>

            <!-- list generated from FPL API  -->

            </section>

         <section id="defenders" style="display: flex; align-items: center; justify-content: space-around; height: 18.75%; width: 100vw; background-color: transparent;">
            <% if (defs.length > 0) { %>

            <% defs.map((def) => { %>
                <article class="selections">
                    <img src="jerseys/<%= def.team_code %>.png" alt="DF" width="50" height="50">
                    <div class="player-details " style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; margin-top: 5px; background-color: transparent;">
                        <h3 style="text-align: center; color: white;font-size: .65rem; font-family: cursive; text-transform: uppercase;"><%= def.first_name %></h3>
                        <h4 style="text-align: center; color: white; font-family: cursive; font-weight: bold; font-size: .65rem; text-transform: uppercase;"><%= def.second_name %></h4>
                    </div>
                 </article>

              <%  }) %>
              <% } %>
              
            <!-- LIST GENERATED FROM FPL API -->

         </section>

         <section id="midfielders" style="display: flex; align-items: center; justify-content: space-around; height: 18.75%; width: 100vw; background-color: transparent;">
            <% if (mids.length > 0) { %>
 
            <% mids.map((mid) => { %>
                <article class="selections">
                    <img src="jerseys/<%= mid.team_code %>.png" alt="MD" width="50" height="50">
                    <div class="player-details " style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; margin-top: 5px; background-color: transparent;">
                        <h3 style="text-align: center; color: white;font-size: .65rem; font-family: cursive; text-transform: uppercase;"><%= mid.first_name %></h3>
                        <h4 style="text-align: center; color: white; font-family: cursive; font-weight: bold; font-size: .65rem; text-transform: uppercase;"><%= mid.second_name %></h4>
                    </div>
                 </article>    


            <%   })  %>
            <% } %>      
            

            <!-- LIST GENERATED FROM FPL API -->

         </section>

         <section id="strikers"  style="display: flex; align-items: center; justify-content: space-around; height: 18.75%; width: 100vw; background-color: transparent;">
           <% if (talismen.length > 0) { %>

           
            <%  talismen.map((lethal) => { %>
             
             <article class="selections">
                <img src="jerseys/<%= lethal.team_code %>.png" alt="CF" width="50" height="50">
                <div class="player-details " style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; margin-top: 5px; background-color: transparent;">
                    <h3 style="text-align: center; color: white;font-size: .65rem; font-family: cursive; text-transform: uppercase;"><%= lethal.first_name %></h3>
                    <h4 style="text-align: center; color: white; font-family: cursive; font-weight: bold; font-size: .65rem; text-transform: uppercase;"><%= lethal.second_name %></h4>
                </div>
             </article>
             <% }) %>

            <% } %>
            <!-- LIST GENERATED FROM FPL API -->

         </section>

         <section id="subs" style="position: relative; height: 25%; width: 100vw; background-color: black; opacity: 80%; display: flex; align-items: center; justify-content: space-around;">
            <h1 style="position: absolute; top: 0; text-align: center; height: 20%; width: 100%; color: gold; font-family: cursive; font-size: 1.2rem;" >SUBSTITUTIONS</h1>
            <% if (subs.length > 0) { %> 

             <% subs.map((sub) => { %>
             
              <article class="selections">
                 <img src="jerseys/<%= sub.team_code %>.png" alt="SB" width="50" height="50">
                 <div class="player-details " style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; margin-top: 5px; background-color: transparent;">
                    <h3 style="text-align: center; color: yellow;font-size: .65rem; font-family: cursive; text-transform: uppercase;"><%= sub.first_name %></h3>
                    <h4 style="text-align: center; color: yellow; font-family: cursive; font-weight: bold; font-size: .65rem; text-transform: uppercase;"><%= sub.second_name %></h4>
                 </div>
              </article>
              
              <% }) %>
            <% } %>
            <!-- LIST GENERATED FROM FPL API -->

         </section>

        
    </section>
    
    

    <footer style="position: fixed; bottom: 0; height: 10svh; width: 100vw; display: flex; align-items: center; justify-content: center;">
        <div style="padding: 20px; display: flex; align-items: center; justify-content: center; font-weight: bold; ">
            <h1 style="font-weight: 900; font-size: 1.2rem; color: purple; font-family: cursive;">Xtream</h1>
            <span><img src="logos/plicon.png" alt="" width="40" height="40"></span>
            <h1 style="font-weight: 900; font-size: 1.2rem; color: purple; font-family: cursive;">League</h1>
        </div>
    </footer>
    
</body>
    

</html>