<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logos/plicon.png" type="images/x-icon" width="40" height="40">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Rankings</title>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        ::-webkit-scrollbar {
            height: 1rem;
            width: 1rem;
        }

        ::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 255, 0.41);
            margin-inline: 50px;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background-image: linear-gradient(45deg, purple, red white, red, purple);
            border-radius: 10px;
            border: 2px solid yellow;
        }

        @media screen and ( max-aspect-ratio: 16/9 ) {

            ::-webkit-scrollbar {
                display: none;
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60%;
            width: 150px;
            margin-inline: 5px;
            padding: 20px;
            border: 3px solid purple;
            border-radius: 25px;
            background-color: blue;
            color: goldenrod;
            font-size: 1rem;
            font-weight: bold;
            scroll-snap-align: start;
        }
        .bets-card {
            font-size: 1rem;
            font-weight: bold;
            scroll-snap-align: start;
        }
        .links {
            text-decoration: none;
            color: white;
        }

         a:focus-within {
            transform: scale(1.025);
            color: goldenrod;
        }
        
    </style>     
</head>
<body style="background-color: goldenrod; height: 100svh; width: 100vw;">
    <header style="position: relative; height: 10svh; width: 100vw; display: flex; align-items: center; justify-content: space-between;">
        <div style="margin-left: 10px; display: flex; align-items: center; justify-content: center;">
            <div><a href="/main"><ion-icon name="arrow-round-back" style="font-weight: bold; color: purple; font-size: 1.8rem;"></ion-icon></a></div>
            <h1 style="margin:0 10px 10px 10px; font-weight: bold; font-family: 'Signika', sans-serif; font-size: 1.75rem; color: purple;">Parties</h1>
        </div>

        <span style="margin-right: 20px;"><img src="logos/plicon.png" alt="Paypal" width="40" height="40"></span>
        
         <% if (locals.messages) { %> 
            <p style="color: red; text-align: center; border-radius: 4px; font-size: 1.2rem; font-style: italic; width: 80%; top: 92%; left: 50%; transform: translate(-50%, -50%);
             font-weight: bold; position: absolute;"><%= messages %></p>
             <% } %> 

    </header>

    <main style="height: 80svh; background-color: transparent; width: 100vw; padding-top: 10px;">

        <section id="gw-wrapper" style="height: 15%; width: 100%; background-color: goldenrod; display: flex; align-items: flex-start; scroll-snap-type: inline mandatory; scroll-padding-inline: 10px; overflow-y: hidden; overflow-x: scroll;">
         
             <% gameweeks.map((gameweek) => { %>
                 
                <div id="<%= gameweek %>" class="buttons"><a class="links" href="/parties/<%= gameweek %>">GW<%= gameweek %></a></div>  
                 
               <%  }) %>
           
                 
        </section>
        
        
        
        <section class="list-wrapper" style="position: relative; height: 85%; width: 100%; padding-top: 5px; display: flex; flex-flow: column nowrap; align-items: center; scroll-snap-type: inline mandatory; scroll-padding-inline: 10px; overflow-x: hidden; overflow-y: scroll;">
             
          
                <% if ( Parties.length === 0 ) { %>

                   <div class="no-bets" style="position: absolute; z-index: 5; top: 35%; left: 50%; transform: translate(-50%, -50%); width: 100%; display: flex; justify-content: center; align-items: center; height: 20%;">
                      <h1 style="color: blue; font-family: 'Signika', sans-serif; font-style: italic; font-weight: bold; font-size: 1.8rem; text-align: center; text-wrap: wrap;">No Bets in Gameweek <%= GW %> </h1>
                   </div>

                 <% } else { %>
 

                 <% Parties.map((party) => { %>

                     <% if (party.hostId == user.teamId ) { %>

                        <a href="/party/<%= party._id %>" class="bets-card" style="cursor: pointer; text-decoration: none; padding: 5px; display: flex; align-items: center; justify-content: space-between; width: 95%; height: 15%; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.29); background-image: linear-gradient(45deg, blue, skyblue, skyblue, aliceblue, whitesmoke,  white, whitesmoke, aliceblue, skyblue, skyblue, blue); border-radius: 0 20px 20px 0; margin-block: 10px;">
                            <div class="competitors" style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; width: 30%;">
                               <h2 style="text-wrap: wrap; text-align: center; font-size: .85rem; font-family: 'Signika', sans-serif; font-style: italic; color: rgba(65, 5, 65);"><%= user.teamName %></h2>
                               <p style="color: red; font-size: .75rem; font-style: italic;">host</p>
                            
                            </div>
           
                            <div class="bet-status" style="width: 25%; display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center;">
                                <h2 style="margin-bottom: 5px; text-align: center; font-size: 1.2rem; font-family: 'Signika', sans-serif; color: purple;">Party</h2>
                                <h2 style="text-align: center; font-size: .7rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style: italic; color: red;"><%= party.betStatus.message %></h2>
                                <h2 style="margin-top: 5px; text-align: center; font-size: .65rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple;">GW<%= party.event %></h2>
                               
                            </div>
           
                            <div class="payout" style="display: flex; justify-content: center; align-items: center; flex-flow: column nowrap;">
                              <h2 style="text-wrap: wrap; font-size: .85rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: green; font-weight: bold;">Ksh <%= party.amount %></h2>
                              <h2 style="text-align: center; font-style: italic; font-weight: bold; font-size: .7rem; color: red;">entry</h2>
                            </div>
           
                           </a>

                        <% } else { %>

                            <a href="/party/<%= party._id %>" class="bets-card" style="cursor: pointer; text-decoration: none; padding: 5px; display: flex; align-items: center; justify-content: space-between; width: 95%; height: 15%; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.29); background-image: linear-gradient(45deg, blue, skyblue, skyblue, aliceblue, whitesmoke,  white, whitesmoke, aliceblue, skyblue, skyblue, blue); border-radius: 0 20px 20px 0; margin-block: 10px;">
                                <div class="competitors" style="display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; width: 30%;">
                                   <h2 style="text-wrap: wrap; text-align: center; font-size: .85rem; font-family: 'Signika', sans-serif; font-style: italic; color: rgba(65, 5, 65);"><%= party.hostId %></h2>
                                   <p style="color: red; font-size: .75rem; font-style: italic;">host</p>
                            
                                </div>
               
                                <div class="bet-status" style="width: 25%; display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center;">
                                   <h2 style="margin-bottom: 5px; text-align: center; font-size: 1.2rem; font-family: 'Signika', sans-serif; font-style: italic; color: purple;">Party</h2>
                                   <h2 style="text-align: center; font-size: .7rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: red;"><%= party.betStatus.message %></h2>
                                    <h2 style="margin-top: 5px; text-align: center; font-size: .65rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple;">GW<%= party.event %></h2>
                                   
               
                                </div>
               
                                <div class="payout" style="display: flex; justify-content: center; align-items: center; flex-flow: column nowrap;">
                                  <h2 style="text-wrap: wrap; font-size: .85rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style: italic; color: green; font-weight: bold;">Ksh <%= party.amount %></h2>
                                  <h2 style="text-align: center; font-style: italic; font-size: .7rem; font-weight: bold; color: red;">entry</h2>
                                </div>
               
                               </a>  

                         <% } %>

                    <% }) %>

                    <% } %>
             
            
        </section>
       

    </main>

    

    <footer style="height: 10svh; width: 100vw; border-top: 1px solid purple; display: flex; align-items: center; justify-content: center;">
        <div style="display: flex; align-items: center; justify-content: center; font-weight: bold; ">
            <h1 style="font-weight: bold; font-size: 1.2rem; color: purple; font-family: 'Signika', sans-serif;">Xtream</h1>
            <span><img src="logos/plicon.png" alt="" width="40" height="40"></span>
            <h1 style="font-weight: bold; font-size: 1.2rem; color: purple; font-family: 'Signika', sans-serif;">League</h1>
        </div>

    </footer> 
</body>
    

</html>